<!-- File Purpose: footer partial. Has closing divs for the content containers.-->

				</div>
			</div>
			<!-- Footer -->
			<div class="row">
				<div class="col-10">
					<nav class="navbar fixed-bottom navbar-dark bg-dark">
						<div class="container-fluid">
							<a class="" href="">TOS and Privacy Policy</a>
							<p class="mb-0 text-light">Copyright 2021 (c) INFO 2413 Team Five</p>
						</div>
					</nav>
				</div>
			</div>
		</div>
		<!-- Bootstrap javascript: do not touch. -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	</body>
</html>