<!-- File Purpose: header partial, to be displayed before all pages. Ends with the opening for the content container.-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Charset, viewport, favicon, Bootstrap 5.0, custom CSS, FontAwesome 5.0, tab title. -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="https://i.imgur.com/Y0kfNjN.png"	type="image/icon type">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<link href="public/assets/cmstyles.css" rel="stylesheet" type="text/css" />
		<script src="https://kit.fontawesome.com/93d8c6e6c4.js" crossorigin="anonymous"></script>
		<title>INFO2413-T5</title>
	</head>
	<body>
		<div class="container-lg">
			<!-- Account details above navbar --> <!--FIX THIS PLEASE-->
			<div class="row">
				<div class="col-12 mx-auto mt-3 pt-3">
					<p class="text-end fw-light mb-0">EJS goes here for login/signup/account summary.</p> <!-- Needs to detect if logged in. If so, shows a link to your account summary and your cart if customer, or your working orders if employee, or orders to deal with if admin.-->
				</div>
			</div>

			<!-- Navbar -->
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-dark bg-dark">
						<div class="container-fluid">
							<a class="navbar-brand" href="#">INFO2413-T5</a>
							<form class="d-flex">
								<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
								<button class="btn btn-outline-success" type="submit">Search</button>
							</form>
						</div>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-10 mx-auto p-4">