<!-- File Purpose: header partial, to be displayed before all pages. Ends with the opening for the content container.-->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="https://i.imgur.com/hD1ANsj.png"	type="image/icon type">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link href="/public/assets/cmstyles.css" rel="stylesheet" type="text/css" />
	<title>Illusionary Press</title>
</head>
<body>
	<div class="container-lg p-0">
		<!-- nav -->
			<div class="jumbotron cmbanner mb-0"></div>
			<nav class="navbar navbar-expand-sm cmbg sticky-top">
				<a class="navbar-brand cmnb mr-auto" href="/">Illusionary Press</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<div class="navbar-nav ml-auto">
						<a class="nav-link" href="/poems">Discover</a>
						<a class="nav-link" href="/new">Upload</a>
					</div>
				</div>
			</nav>

		<div class="container-fluid px-4 content-main">