<!-- File Purpose: advanced search page. -->

<!-- 
THINGS TO DO ON THIS PAGE:

-Should be functional. Currently post requests do nothing.
-Customer email logic should be "if user.role == 'customer', findone email." or something.

-->

<%- include ('partials/header') %>

This is where the advanced search is. Available only to employees and admins, otherwise redirects you to a) the login page if not logged in, or b) the normal search.
Has more search functions, basically.

	<form class="d-flex w-75 mx-auto mt-4" action="/obrowse" method="POST">
		<input class="form-control me-2" type="search" name="orderID" id="" placeholder="Order ID" aria-label="Search">
		<input class="form-control me-2" type="search" name="orderstatus" id="" placeholder="Order Status" aria-label="Search">
		<input class="form-control me-2" type="search" name="customer" id="" placeholder="Customer Name" aria-label="Search">
		<input class="form-control me-2" type="search" name="email" id="email" placeholder="Customer Email" aria-label="Search">
		<button class="btn btn-success" type="submit">Search</button>
	</form>

<%- include ('partials/footer') %>