<!-- File Purpose: home landing page. -->

<%- include ('partials/header') %>

This is where everything will go. This is our homepage, and probably will be a fancy business page later.


    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/register" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>


<%- include ('partials/footer') %>