<!-- File Purpose: home landing page. -->

<!-- 
THINGS TO DO ON THIS PAGE:

-Make it look nice I suppose.

-->

<%- include ('partials/header') %>

INFO2413 Team 5: Project

<% if(isLogged){ %>
    <div class="jumbotron text-center mt-4">
        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default text-center"><span class="fa fa-user"></span> Local Login</a>
        <a href="/register" class="btn btn-default text-center"><span class="fa fa-user"></span> Local Signup</a>
    </div>
<% }; %>

<%- include ('partials/footer') %>