<!-- File Purpose: login page. -->

<%- include ('partials/header') %>

<p>This is where users can login. A lot of pages will redirect here if you're not logged in, so Slingsby is going to need the redirect code from Marcs and will add that into most pages. (It can't go in the header because then the site will break.)<br/>
If we have time, we can add a forgot password feature, but I (Slingsby) doubt we'll get quite that far.</p>

<div class="card mx-auto w-25 mt-4 py-3">
	<form action="/account" method="POST"> 
		<input type="text" name="username" placeholder="Username" class="mx-auto rounded"> 
		<input type="password" name="password" placeholder="Password" class="mx-auto rounded"> 
		<button class="btn btn-outline-secondary mx-auto" type="submit" id="login">Login</button> 
	</form>
</div>




<%- include ('partials/footer') %>