<!-- File Purpose: terms of service page. -->

<%- include ('partials/header') %>

<h2>Terms of Service</h2>

<h3>1. Terms</h3>

<p>By accessing this project, accessible from project.com, you are agreeing to be bound by these project Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this project are protected by copyright and trade mark law.</p>
<h3>2. Use License</h3>

<p>Permission is granted to temporarily download one copy of the materials on Team Five's project for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>
<ul>
	<li>modify or copy the materials;</li>
	<li>use the materials for any commercial purpose or for any public display;</li>
	<li>attempt to reverse engineer any software contained on Team Five's project;</li>
	<li>remove any copyright or other proprietary notations from the materials; or</li>
	<li>transfer the materials to another person or "mirror" the materials on any other server.</li>
</ul>

<p>This will let Team Five to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format.</p>

<h3>3. Disclaimer</h3>

<p>All the materials on Team Five's project are provided “as is”. Team Five makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, Team Five does not make any representations concerning the accuracy or reliability of the use of the materials on its project or otherwise relating to such materials or any sites linked to this project.</p>

	<h3>4. Limitations</h3>

<p>Team Five or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on Team Five's project, even if Team Five or an authorize representative of this project has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>

	<h3>5. Revisions and Errata</h3>

<p>The materials appearing on Team Five's project may include technical, typographical, or photographic errors. Team Five will not promise that any of the materials in this project are accurate, complete, or current. Team Five may change the materials contained on its project at any time without notice. Team Five does not make any commitment to update the materials.</p>

	<h3>6. Links</h3>

<p>Team Five has not reviewed all of the sites linked to its project and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by Team Five of the site. The use of any linked project is at the user's own risk.</p>
	<h3>7. Site Terms of Use Modifications</h3>


<p>Team Five may revise these Terms of Use for its project at any time without prior notice. By using this project, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>

<h3>8. Governing Law</h3>

<p>Any claim related to Team Five's project shall be governed by the laws of Country without regards to its conflict of law provisions.</p>

<%- include ('partials/footer') %>